body {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    text-align: center;
}

.todo-container {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1{
    margin-top: 0;
}

.add-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-todo input[type='text']{
    padding: 10px;
    margin-right: 10px;
    width: 400px;
    height: 100%;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.add-todo button{
    width: 28px;
    height: 28px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(245, 238, 112);
    border: none;
    outline: none;
    cursor: pointer;
}

#todoList{
    text-align: left;
}

.todo-list button{
    width: 28px;
    height: 28px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(245, 238, 112);
    border: none;
    outline: none;
}


